<!--This is a partial-->
<section class="drawing">
  <div class="image-container">
    <img class="thumbnail" src="{{url}}" alt="{{title}}" />
  </div>
  <div class="title-card">
     {{title}} by {{author}}
  </div>
</section>
