<article class="drawing">
  <div class="image-container">
    <img class="thumbnail" src="{{url}}" alt="{{title}}" />
  </div>
  <div class="drawing-text">
     {{title}} by {{author}}
  </div>
</article>
