<!--Partials: Header-footer -->
<header>
    <a href="index.html"><h1 class="site-title">Draw or Browse!</h1></a>
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem dob"><a href="draw">Draw!</a></li>
      <li class="navitem dob"><a href="browse">Browse!</a></li>
      <li class="navitem search">
        <input type="text" id="search-bar" placeholder="Search Author, Title or Tags">
        <button type="button" id="search-button"><i class="fas fa-search"></i></button>
      </li>
    </ul>
  </nav>
</header>

<div class="footer"><p>
      Draw or Browse! is a free drawing website where you can draw whatever you want <br> and save the drawing to continue your drawing on any internet connected devices! <br><br>
      Draw! anything you want!<br>
      Browse! any<em>*</em> picture you want! <br>

      <em>*Within our database.</em>
      </p>
</div>
