<!--Partial-->
<main class="error-container">
  <div class="error">HTTP Error: 404</div>
  <h3>This is not the page you're looking for.</h3>
  <img src="https://s.tmimgcdn.com/blog/wp-content/uploads/2011/02/404-page-17.jpg?x20232">
</main>
