<!--Browse.html-->
<script src="browse.js" charset="utf-8" defer></script>
<script src="drawingCardTemplate.js" charset="utf-8" defer></script>

<main class="drawing-container">
  {{#each pictureObjects}}
    {{> drawing}}
  {{/each}}
</main>

<!--Todo: Turn this into a partial-->
<div id="modal-backdrop" class="hidden"></div>
<div id="create-twit-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="twit-input-element">
        [image goes here]
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-edit-button">Edit</button>
      <button type="button" class="modal-delete-button">Delete</button>
      <button type="button" class="modal-accept-button"> <a href="#" download> Download this image </a></button>
    </div>

  </div>
</div>


<!--Todo: Turn this into a partial-->
<div id="modal-backdrop" class="hidden"></div>
<div id="password-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="twit-input-element">
        [The Password Modal]
      </div>
      <div class="twit-input-element">
        <label for="password-input">Enter the password</label>
        <input type="text" id="password-input">
      </div>
    </div>
  </div>
</div>
